#contact-form  input[type="text"],#contact-form input[type=password],#contact-form textarea{
    font-family:Arial, Helvetica, sans-serif;color:#828387;
    font-size:0.9em;vertical-align:middle;
    font-weight:normal;padding:2px 5px;
    background:#afb0ad;
    border:none;
    outline:none;box-shadow:0 0 0 1px #fff;
    width:220px;margin-bottom: 5px}
 #contact-form input[type=submit] {
	color : #fff;
	padding:9px;
	margin:0px 75px 5px 3px;
	border : none;
	width : 80px;
        height: 33px;
	background:transparent url("../images/submit_btn.png") no-repeat top right;
   
}
#search input[type="text"]{vertical-align:middle;}
#search a{vertical-align:middle;}

fieldset{border:none;padding:0;margin:0;}
/* Contact form */
#logForm, #contact-form{position:relative;vertical-align:top;color:#828282;}
#contact-form .success{position:absolute;display: none;bottom:100%;left:0;font-weight:bold;padding: 10px; z-index: 500; color: #fff; background: #a3c159}
		       #contact-form label{padding:0 0 12px;display:block;position:relative;margin:0;}
			#contact-form .message{padding-bottom:12px}
			#contact-form textarea{height:110px;overflow:auto;resize:none;width:220px;}
			#contact-form .error,#contact-form .empty{color:#f00;
                        display:none;position:absolute;
                        top:18px;left:0px;
                        font-size:12px;line-height:2.5em;}
			#contact-form .message .error,#contact-form .message .empty{float:right;top:90px;}
		
/* Login and Registration Form */
 #myform label,
 #pform label,
 #logForm label,            
 #regForm label
{
width: 190px;
text-align: right;
margin-right: 0.5em;
float: left;
position: relative;
text-align: left
}
#login{
    margin: 0 auto;
    width: 650px
}
#actForm label.error,
#logForm label.error,
#regForm label.error, #regForm span{
      color: #FF0000;  
}
#actForm label.error,
#logForm label.error,
#regForm label.error{
    position: absolute;
    left: 344px;
    display: block;
    
}
#regForm .example{
 margin-top: 5px;
 color: #25aae2;
}
#regForm select{
    width: 300px;
}
 #myform textarea,
 #regForm textarea{height:95px;overflow:auto;resize:none;
}
 #actForm input[type="text"],
 #myform input[type="text"],#myform textarea,
 #pform input[type="password"],
 #logForm input[type="text"], #logForm input[type="password"],
#regForm input[type="text"], #regForm input[type="password"], #regForm textarea {
    font-family:Arial, Helvetica, sans-serif;
 color:#828387;font-size:1em;
 width: 300px;
 vertical-align:middle;font-weight:normal;
 padding:6px 10px;margin:0;background:#fff;border:none;
 border:1px solid #d6d6d6;
 box-shadow:0 0 0 1px #fff;}